/* Define colors */
$red: #fa7970
$black: #161b22

/* Change html elements */
html
    color: $red
    background-color: $black
    pointer-events: none

main
    font-size: 1rem

/* Change classes & ids */
#current-time
    position: absolute
    top: 25px
    right: 30px

#ip-address
    position: absolute
    right: 30px
    bottom: 25px